.banner {
  .container {
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 621px;
    padding: 61px;
  }

  @include media-breakpoint-down(sm) {
    .container {
      background-image: url("../images/banner-sm.png");
      padding: 0px;
    }
  }
}

.topics {
  .card {
    border: 0;
    border-radius: 20px 0px 20px 0px;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      background: $neutral-400;
    }

    &:hover {
      &::before {
        opacity: 40%;
      }
    }
  }
}

.article {
  .pagination {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;

    .swiper-pagination-custom {
      width: auto;
    }

    @include media-breakpoint-down(lg) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 12px;
    }

  }

  .swiper .swiper-slide {
    border-bottom: 1px solid $neutral-500;
    padding-bottom: 32px;

    img {
      display: block;
      width: 100%;
      height: 192px;
      object-fit: cover;
    }

    h5 {
      margin-top: 24px;
      font-weight: 900;
    }

    p {
      &.content {
        margin-top: 8px;
        font-weight: 600;
        color: $neutral-400;
        margin-bottom: 32px;
      }

      &.only-member {
        background: $primary-300;
        padding: 4px 8px;
        font-weight: 700;
      }

    }

    a {
      font-size: 20px;
      line-height: 2;
      color: $accent-200;
      text-decoration: none;
      font-weight: 700;

      &:hover {
        color: $accent-300
      }
    }
  }

  .swiper-pagination {
    width: 232px;
    position: relative;
  }

  .swiper-pagination::after {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #6c757d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .swiper-prev,
  .swiper-next {
    width: 56px;
    height: 32px;

    &:hover {
      background-color: #6c757d;
      color: #ffffff;
    }
  }

  .swiper-button-disabled {
    color: #dee2e6;
    border-color: #dee2e6 !important;
  }

  .swiper-button-disabled:hover {
    cursor: default;
    background-color: initial !important;
  }

  .swiper-next:hover {
    background-color: #6c757d;
    color: #DEE2E6;
  }

}


.activity {
  background-color: $primary-200;
  position: relative;
  overflow: hidden;

  .container::after {
    content: "";
    position: absolute;
    background-image: url("../images/bg-2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 196px;
    bottom: -8px;
    right: 0;
  }

  h2 {
    letter-spacing: 0.2rem;
  }

  ul {
    i {
      font-weight: 600;
      font-size: 1rem;
      color: $neutral-400;
      font-style: normal;

      &::before {
        font-weight: 600;
        margin-right: 12px;
      }
    }
  }

  img {
    transform: translateY(10px);
  }

  @include media-breakpoint-down(lg) {
    h4 {
      color: $accent-200;

    }

    .container::after {
      width: 160px;
      height: 104px;
      right: -24px;
      background-image: url("../images/bg-2-sm.png");
    }
  }

  @include media-breakpoint-down(sm) {}
}