.banner {
  .container {
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 621px;
    padding: 61px;
  }

  @include media-breakpoint-down(lg) {}

  @include media-breakpoint-down(sm) {
    .container {
      background-image: url("../images/banner-sm.png");
      padding: 0px;
    }
  }
}

.topics {
  .card {
    border: 0;
    border-radius: 20px 0px 20px 0px;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0;
      background: $neutral-400;
    }

    &:hover {
      &::before {
        opacity: 40%;
      }
    }
  }
}