<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vivre</title>
</head>

<body>
  <%- include('./layout/header'); -%>

  <section class="banner py-lg-10 py-0">
    <div class="container container-lg text-white d-flex flex-column align-items-center align-items-lg-start justify-content-end justify-content-lg-center pb-9 py-lg-0">
      <p class="fs-6 fs-lg-5 mb-2">獻給新世代的生活風格誌</p>
      <h1 class="mb-4 fs-3 fs-lg-1">一起探索生活的無限可能</h1>
      <a href="#" class="btn-filled fs-6 fs-lg-5">馬上訂閱<i class="bi bi-arrow-right ms-2 fs-5"></i></a>
    </div>
  </section>

  <%- include('./layout/footer'); -%>

  <script type="module" src="../main.js"></script>
</body>

</html>